action-send
  .big-icon.big-send(if='{ step != 5 }')
    img(src='/img/big-send.svg')

  .big-icon(if='{ step == 5 }')
    img(src='/img/big-check.svg')

  .step-1(if='{ step == 1 }')
    h3.action-instruction Select a Token.
    picker(
      bind='send.token'
      picker-options='{ tokenOptions }'
    )
      .m-card.token.pick(
        each='{ pickOption, id in pickerOptions }'
        onclick='{ pick(id) }'
        class='{ picked: isPicked(id) }'
      )
        .pick-title { pickOption.title }
        .pick-subtitle { pickOption.subtitle }

    button(onclick='{ next }')
      | SELECT ADDRESS

  .step-2(if='{ step == 2 }')
    h3.action-instruction Select an Address.
    picker(
      bind='send.address'
      picker-options='{ addressOptions }'
    )
      .m-card.address.pick(
        each='{ pickOption, id in pickerOptions }'
        onclick='{ pick(id) }'
        class='{ picked: isPicked(id) }'
      )
        .pick-image
          img(riot-src='{ pickOption.img }')
        .pick-title { pickOption.title }
        .pick-subtitle { pickOption.subtitle }

    .button-group
      button.back(onclick='{ back }')
        img(src='/img/back.svg')
      button(onclick='{ next }')
        | SELECT AMOUNT

  .step-3(if='{ step == 3 }')
    h3.action-instruction Select Amount.
    currency.m-card.input(bind='send.amount', placeholder = '0.00', currency='usd')
      span.mini { getTokens() } UST Coins based on Net Asset Value

    .button-group
      button.back(onclick='{ back }')
        img(src='/img/back.svg')
      button(onclick='{ next }')
        | SELECT DEST.

  .step-4(if='{ step == 4 }')
    h3.action-instruction Select a Destination Address.
    text.m-card.input(bind='send.destinationAddress', placeholder='Destination Address')

    .button-group
      button.back(onclick='{ back }')
        img(src='/img/back.svg')
      button(onclick='{ next }')
        | CONFIRM SEND

  .step-5(if='{ step == 5 }')
    h3.action-instruction Your transaction is being processed.

    button(onclick='{ end }')
      | CONTINUE


